/***********
General
************/

body {
  margin: 0 10%;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover,
.fa-thumbs-up:hover,
.fa-thumbs-down:hover,
.fa-trash:hover {
  cursor: pointer;
}

/***********
Header
************/

.App-header {
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  height: 80px;
  width: 80%;
  color: rgb(0, 0, 0);
}

.App-title {
  text-align: center;
  font-size: 2em;
  font-family: 'Playfair Display SC', serif;
  font-weight: bold;
}

/***********
Navbar
************/

.navbar {
  background-color: rgb(255, 255, 255);
  padding: 2% 0;
  position: fixed;
  top: 80px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar a {
  font-size: 1em;
  color: rgba(0, 0, 0, .54)
}

.navbar a:hover {
  color: rgb(0, 0, 0);
}

/***********
Articles
************/

.Articles,
.Topic-articles {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Articles {
  margin-top: 8%;
}

.Topic-articles {
  margin-top: 12%;
}

.Article,
.Topic-article {
  margin: 2% 0;
  padding: 2%;
  width: 45%;
  border: 1px solid rgba(0, 0, 0, .13);
  text-align: justify;
}

.Article h3,
.Topic-article h3 {
  display: flex;
  flex-wrap: wrap;
  color: rgb(0, 0, 0);
}

.Article-body {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
}

.Article p,
.Topic-article p,
.Article-single p {
  font-weight: 700;
}

.Article a,
.Topic-article a,
.Article-single a {
  color: rgba(0, 0, 0, .54);
  font-weight: 400;
}

.Article img,
.Topic-image,
.Article-single img {
  max-width: 100%;
}

.Article-single {
  margin-top: 20%;
  text-align: justify;
}

#Article-single-body {
  font-weight: 400;
}

/***********
Votes
************/

.Vote {
  display: inline-block;
  margin: 0 5%;
}

/***********
Topics
************/

.Topics {
  margin-top: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Topic {
  width: 30%;
  text-align: center;
}

.Topic h2 {
  color: rgb(0, 0, 0);
}

/***********
Comments
************/

.Comments {
  margin-top: 170px;
  width: 100%;
}

.Comments form {
  text-align: center;
}

.Comments textarea {
  width: 40%;
  height: 50px;
}

.Comment {
  text-align: justify;
}

/***********
Users
************/

.User {
  margin-top: 150px;
  width: 100%;
  text-align: center;
}

.User-link:hover,
.Article-link:hover {
  text-decoration: underline;
}

/***********
Media Queries
************/

@media screen and (max-width: 1024px) {

  .Articles {
    margin-top: 12%;
  }

  .Topic-articles {
    margin-top: 20%;
  }

}

@media screen and (max-width: 750px) {
  
  .App-header {
    height: 120px;
  }

  .navbar {
    top: 120px;
  }

  .Articles {
    margin-top: 35%;
  }

  .Topic-articles {
    margin-top: 50%;
  }

  .Article-single {
    margin-top: 50%;
  }

  .Articles,
  .Topic-articles {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Article,
  .Topic-article {
    width: 80%;
  }
}